<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="views/sharedTags/head :: head"></th:block>
<div class="container" th:fragment="sidebar">
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <a class="nav-link"  onmouseover="this.style.color='red';" onmouseout="this.style.color='blue';" data-slide="true" href="/logoff"><i class="fas fa-power-off mr-0"></i></a>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 wrapper">
    <!-- Brand Logo -->
    <a href="https://readinessit.com/" class="brand-link">
      <img src="../../dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">ReadinessIT</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="${'data:image/png;base64,' + user.ImageUrl}" class="img-circle elevation-2 hov-img-zoom " data-toggle="modal" data-target="#myModal" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" th:text="${user.FirstName + ' ' + user.LastName}"><p ></p></a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


            <a href="/gateway" style="background-color:red" class="nav-link active mb-1">
                <i class="far fa-circle nav-icon"></i>
                <p>My Information</p>
            </a>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Options
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/oqs?page=0&size=5" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Available Quizzes</p>
                </a>
              </li>
                <th:block th:each="role, place : ${user.authorities}">
                    <li th:if="${role == 'ROLE_ADMIN'}" class="nav-item">
                        <a href="/createQuiz" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Create Quiz</p>
                        </a>
                    </li>
                    <li th:if="${role == 'ROLE_ADMIN'}"  class="nav-item">
                        <a href="/updatableQuizzes" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Complete Quizzes</p>
                        </a>
                    </li>
                    <li th:if="${role == 'ROLE_ADMIN'}"  class="nav-item">
                        <a href="/userManager" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Users</p>
                        </a>
                    </li>
                </th:block>
            </ul>
          </li>
        </ul>
      </nav>


      <!-- /.sidebar-menu -->

    </div> <!-- /.sidebar -->
  </aside>
        <!-- Content Header (Page header) -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modalWindow">
                <div class="modal-header">
                    <h4 class="modal-title">Upload your photo!</h4>
                    <button type="button" id="closeButton" class="close" ><a href="javascript:location.reload();">&times;</a></button>
                </div>
                <form method="POST" name="fileUpload" enctype="multipart/form-data" action="/fileUpload" id="fileUpload">
                    <div class="modal-body">
                        <input type="file" name="file">
                    </div>
                    <div class="modal-footer">
                        <button id="photoButton" type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
                <div class="progress">
                    <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
                </div>
                <div id="alertMsg" class="text-center" style="font-size: 26px;"></div>
            </div>
        </div>
    </div>
</div>

