<div>
    <h2 id="page-heading">
        <span>Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/answer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Answer
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="answers?.length === 0">
        <span>No answers found</span>
    </div>
    <div class="table-responsive" *ngIf="answers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Answer Name</span></th>
            <th scope="col" ><span>Correct Answer</span></th>
            <th scope="col" ><span>Question</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answer', answer.id, 'view' ]">{{answer.id}}</a></td>
                <td>{{answer.answerName}}</td>
                <td>{{answer.correctAnswer}}</td>
                <td>
                    <div *ngIf="answer.question">
                        <a [routerLink]="['/question', answer.question?.id, 'view' ]" >{{answer.question?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer', { outlets: { popup: answer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
