<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
    <style>
    input.parsley-success,
    select.parsley-success,
    textarea.parsley-success {
      color: #468847;
      background-color: #DFF0D8;
      border: 1px solid #D6E9C6;
    }
    input.parsley-error,
    select.parsley-error,
    textarea.parsley-error {
      color: #B94A48;
      background-color: #F2DEDE;
      border: 1px solid #EED3D7;
    }
    .parsley-errors-list {
      margin: 2px 0 3px;
      text-size: 3px;
      padding: 0;
      list-style-type: none;
      font-size: 0.9em;
      line-height: 0.9em;
      opacity: 0;
      color: #B94A48;
      transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
    }
    .parsley-errors-list.filled {
      opacity: 1;
    }
</style>
</head>
<body>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create your Quiz</h1>
                </div>
                <div class="col-sm-6 float-right">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="/gateway">Home</a></li>
                        <li class="breadcrumb-item active">Create Quiz</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Please fill all the questions in order to submit the quiz with success</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form data-parsley-validate class="form-horizontal" method="post" action="/createQuiz">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="quizTitle" class="col-sm-1 col-form-label">Quiz Title</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" required id="quizTitle" name="quizTitle" placeholder="insert your quiz title">
                            </div>
                            <label for="minGrade" class="col-sm-1 col-form-label pl-5">min grade</label>
                            <div class="col-sm-1">
                                <input type="number" min="0" max="100" style="width: 50% !important" class="form-control ml-0" value="50" required id="minGrade" name="minGrade" placeholder="min grade">
                            </div>
                            <label for="avgGrade" class="col-sm-1 col-form-label pl-5">avg grade</label>
                            <div class="col-sm-1">
                                <input type="number" style="width: 50% !important" min="0" max="100" class="form-control" value="70" required id="avgGrade" name="avgGrade" placeholder="avg grade">
                            </div>
                            <label for="subjectSelector" class="col-sm-1 col-form-label pl-5">Subject</label>
                            <div class="col-sm-2">
                                <select id="subjectSelector" name="subjectSelector" class="form-control">
                                    <th:block th:each="subject : ${subjects}">
                                    <option th:text="${subject.subjectName}" th:value="${subject.id}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalSubject">+</button>
                            </div>
                        </div>
                        <div id="allQuestions">
<!--                        <th:block th:each="i: ${#numbers.sequence(0, 9)}">-->
                            <div class="card card-info">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label">Question</label>
                                        <div class="col-sm-11">
                                            <input type="text" name="questionTitle[]" required class="form-control"  placeholder="insert here your first question">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-1 col-form-label">Description</label>
                                        <div class="col-sm-11">
                                            <input type="text" name="questionDescription[]" required class="form-control"  placeholder="describe your question">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="text" name="rightAnswer[]" required class="form-control is-valid" placeholder="place here the RIGHT answer">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="firstWrongAnswer[]" required class="form-control is-invalid" placeholder="place here a wrong answer">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="text" name="secondWrongAnswer[]"required  class="form-control is-invalid"  placeholder="place here a wrong answer">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="thirdWrongAnswer[]" required class="form-control is-invalid"  placeholder="place here a wrong answer">
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                        </th:block>-->
                        </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success">Add Question</button>
                    <button type="submit" class="btn btn-info float-right">Submit Quiz</button>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
<div class="modal fade" id="myModalSubject" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modalWindow">
            <div class="modal-header">
                <h4 class="modal-title">Add new Subject!</h4>
            </div>
            <form method="POST" name="subject" action="/addSubject" id="fileUpload">
                <div class="modal-body">
                    <input type="text" name="file" required class="form-control"  placeholder="add a new subject">
                </div>
                <div class="modal-footer">
                    <button id="otherButton" type="submit" class="btn btn-outline-success">Add Subject</button>
                </div>
            </form>
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
            <div id="alertMsg" class="text-center" style="font-size: 26px;"></div>
        </div>
    </div>
</div>


<th:block th:include="views/sharedTags/footer :: footer"></th:block>
<script>
  $(document).ready(function(){
var counter = 1;
$('button.btn-success').on('click',function(){
if(counter <10){
$('#allQuestions').append("<div class='card card-info'>" +
                          "<div class='card-body'>" +
                          "<div class='form-group row'>" +
                          "<label class='col-sm-1 col-form-label'>Question</label>" +
                          "<div class='col-sm-11'>" +
                          "<input type='text' required name='questionTitle[]' class='form-control' placeholder='insert here your first question'>" +
                          "</div>" + "</div>" + "<div class='form-group row'>" +
                          "<label  class='col-sm-1 col-form-label'>Description</label>" +
                          "<div class='col-sm-11'><input type='text' required name='questionDescription[]' class='form-control'  placeholder='describe your question'>" +
                          "</div></div><div class='form-group row'><div class='col-sm-6'>" +
                          "<input type='text' name='rightAnswer[]' required class='form-control is-valid' placeholder='place here the RIGHT answer'>" +
                          "</div>" +
                          "<div class='col-sm-6'><input type='text' required name='firstWrongAnswer[]' class='form-control is-invalid' placeholder='place here a wrong answer'>" +
                          "</div></div><div class='form-group row'>" +
                          "<div class='col-sm-6'><input type='text' required name='secondWrongAnswer[]' class='form-control is-invalid'  placeholder='place here a wrong answer'>" +
                          "</div>" +
                          "<div class='col-sm-6'>" +
                          "<input type='text' required name='thirdWrongAnswer[]' class='form-control is-invalid' placeholder='place here a wrong answer'>" +
                          "</div>" +
                          "</div>" +
                          "</div>");
counter ++;
}
else{
    toastr.error('You reached the maximum questions allowed!')
    }
    })
})
</script>
</html>
