<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
    <style>
        .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
    </style>
</head>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>
<div class="wrapper">
<div class="content-wrapper">
    <div class="container-fluid">
        <div class=" col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Available Quizzes</h3>
                    <form class="form-inline active-pink-3 active-pink-4 mr-4 col-3" method="post" action="/oqs" id="formSearch">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" name="search" placeholder="Search" onchange="this.form.submit()" aria-label="Search">
                    </form>
                    <div class="card-tools">
                        <ul class="pagination pagination-sm float-right">
                            <th:block th:each="i : ${#numbers.sequence( 0, pages)}">
                                <li class="page-item"><a class="page-link" th:href="${'/oqs?page='+ i +'&size=5'}" th:text="${i+1}"></a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Quiz</th>
                            <th style="width: 220px" class="mr-4"><i class="text-warning">Min</i> Grade</th>
                            <th style="width: 220px" class="mr-4"><i class="text-success">Max</i> Grade</th>
                            <th>Subject</th>
                            <th style="width: 280px">Score</th>
                            <th style="width: 40px"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:each="quiz, place : ${quizzes}">
                            <tr>
                                <td th:text="${quiz.Id}"></td>
                                <td th:if="${grades[place.index] <= 100 }" th:text="${quiz.QuizName}"></td>
                                <td th:if="${grades[place.index] > 100}"><a th:href="@{'/quizinfo/' + ${quiz.Id}}" th:text="${quiz.QuizName}"></a></td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-circle ml-3" th:text="${quiz.getMinGrade()+'%'}"></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle ml-3" th:text="${quiz.getAvgGrade()+'%'}"></button>
                                </td>
                                <td ><a th:href="@{'/quizList/' + ${quiz.getSubjectId()}}" th:text="${quiz.getSubjectSubjectName()}"></a></td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div th:if="${grades[place.index] < quiz.getMinGrade()}" class="progress-bar bg-danger" th:style="'width:'+@{${grades[place.index]}}+'%'"></div>
                                        <div th:if="${grades[place.index] >= quiz.getMinGrade() && grades[place.index] < quiz.getAvgGrade()}" class="progress-bar bg-warning" th:style="'width:'+@{${grades[place.index]}}+'%'"></div>
                                        <div th:if="${grades[place.index] >=  quiz.getAvgGrade() && grades[place.index] <= 100}" class="progress-bar bg-success" th:style="'width:'+@{${grades[place.index]}}+'%'"></div>
                                    </div>
                                </td>
                                <td>
                                    <span th:if="${grades[place.index] < quiz.getMinGrade()}" class="badge bg-danger ml-auto" th:text="${grades[place.index]} + '%'"></span>
                                    <span th:if="${grades[place.index] >= quiz.getMinGrade() && grades[place.index] < quiz.getAvgGrade()}" class="badge bg-warning ml-auto" th:text="${grades[place.index]} + '%'"></span>
                                    <span th:if="${grades[place.index] >=  quiz.getAvgGrade() && grades[place.index] <= 100}" class="badge bg-success ml-auto" th:text="${grades[place.index]} + '%'"></span>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
        </div>
</div>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>

<!--<script th:inline="javascript">-->
<!--    function searchBox(val) {-->
<!--        let subjects = [[${subjects}]];-->
<!--        for(let i = 0; i<subjects.length;i++){-->
<!--            console.log(subjects[i].subjectName.includes(val));-->
<!--            if(subjects[i].subjectName.includes(val)){-->
<!--                console.log('DEU');-->
<!--            }-->
<!--        }-->
<!--    }-->
<!-- </script>-->


</html>
