<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
          color: #468847;
          background-color: #DFF0D8;
          border: 1px solid #D6E9C6;
        }
        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
          color: #B94A48;
          background-color: #F2DEDE;
          border: 1px solid #EED3D7;
        }
        .parsley-errors-list {
          margin: 2px 0 3px;
          text-size: 3px;
          padding: 0;
          list-style-type: none;
          font-size: 0.9em;
          line-height: 0.9em;
          opacity: 0;
          color: #B94A48;
          transition: all .3s ease-in;
          -o-transition: all .3s ease-in;
          -moz-transition: all .3s ease-in;
          -webkit-transition: all .3s ease-in;
        }
        .parsley-errors-list.filled {
          opacity: 1;
        }
    </style>
</head>
<body>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update your Quiz</h1>
                </div>
                <div class="col-sm-6 float-right">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="/gateway">Home</a></li>
                        <li class="breadcrumb-item active">Update Quiz</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title" th:text="${'this quiz have ' + quiz.questions.size() + ' questions' }"></h3>
                    <br>
                    <span th:if="${quiz.questions.size() < 10}" th:text="${' you can add '+ (10 - quiz.questions.size()) +' more questions'}"></span>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                    <div class="card-body">
                        <div class="form-group row">
                        <th:block th:each="question : ${quiz.Questions}">
                            <div class="col-sm-4 text-center">
                                <h5 th:text = "${question.questionTitle}"></h5>
                            </div>
                        </th:block>
                            </div>
                    <form data-parsley-validate class="form-horizontal" method="post" th:action="${'/myquiz/' + quiz.Id}">
                        <div id="allQuestions">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success">Add Question</button>
                        <button type="submit" class="btn btn-info float-right">Update Quiz</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<th:block th:include="views/sharedTags/footer :: footer"></th:block>
<script th:inline="javascript">
  $(document).ready(function(){
var myCounter = [[${quiz.questions.size()}]];
$('button.btn-success').on('click',function(){
if(myCounter <10){
$('#allQuestions').append("<div class='card card-info'>" +
                          "<div class='card-body'>" +
                          "<div class='form-group row'>" +
                          "<label class='col-sm-1 col-form-label'>Question</label>" +
                          "<div class='col-sm-11'>" +
                          "<input type='text' required name='questionTitle[]' class='form-control' placeholder='insert here your first question'>" +
                          "</div>" + "</div>" + "<div class='form-group row'>" +
                          "<label  class='col-sm-1 col-form-label'>Description</label>" +
                          "<div class='col-sm-11'><input type='text' required name='questionDescription[]' class='form-control'  placeholder='describe your question'>" +
                          "</div></div><div class='form-group row'><div class='col-sm-6'>" +
                          "<input type='text' name='rightAnswer[]' required class='form-control is-valid' placeholder='place here the RIGHT answer'>" +
                          "</div>" +
                          "<div class='col-sm-6'><input type='text' required name='firstWrongAnswer[]' class='form-control is-invalid' placeholder='place here a wrong answer'>" +
                          "</div></div><div class='form-group row'>" +
                          "<div class='col-sm-6'><input type='text' required name='secondWrongAnswer[]' class='form-control is-invalid'  placeholder='place here a wrong answer'>" +
                          "</div>" +
                          "<div class='col-sm-6'>" +
                          "<input type='text' required name='thirdWrongAnswer[]' class='form-control is-invalid' placeholder='place here a wrong answer'>" +
                          "</div>" +
                          "</div>" +
                          "</div>");
myCounter ++;
}
else{
    toastr.error('You reached the maximum questions allowed!')
    }
    })
})
</script>
</body>
</html>
