<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
</head>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>
<div class="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class=" col-md-12 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="|Available Quizzes for the Subject ${subject}|"></h3>
                        <div class="card-tools">
<!--                            <ul class="pagination pagination-sm float-right">-->
<!--                                <th:block th:each="i : ${#numbers.sequence( 0, pages)}">-->
<!--                                    <li class="page-item"><a class="page-link" th:href="${'/oqs?page='+ i +'&size=5'}" th:text="${i+1}"></a></li>-->
<!--                                </th:block>-->
<!--                            </ul>-->
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Quiz</th>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="quiz, place : ${quizzes}">
                                    <tr>
                                        <td th:text="${quiz.getId()}"></td>
                                        <td><a th:href="@{'/quizinfo/' + ${quiz.getId()}}" th:text="${quiz.getQuizName()}"></a></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>
</html>
