<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
</head>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="${quiz.QuizName}"></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/oqs">Home</a></li>
                        <li class="breadcrumb-item active">Advanced Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid Master">

            <!-- QUESTIONS AREA -->
            <form id="quizForm" method="post" th:action="@{'/quizinfo/' + ${quiz.id}}" >
            <th:block th:each="question, place : ${quiz.Questions}">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title text-lg font-weight-bold" th:text="${question.questionTitle}"></h3>
                    </div>
                    <div class="advancing ml-4 mt-1 ">
                        <p th:text="${question.questionDescription}"></p>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group clearfix">
<!--                                    <p th:text="${question.Answers}"></p>-->
                                    <th:block  th:each="answer, place : ${question.shuffleAnswers()}">
                                    <div class="icheck-info ml-5">
                                        <input type="radio" th:attr="name = ${question.Id}" th:id="'radioDanger' + ${answer.Id}" th:value="${answer.Id}">
                                        <label class="font-weight-normal" th:attr="for ='radioDanger' + ${answer.Id}"><p th:text="${answer.answerName}"></p></label>
                                    </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>




            <!-- /.card -->
            <div class="card">
                <button type="button" class="btn btn-info float-right" onclick="atLeastOneRadio()" >Submit Quiz</button>
            </div>
        </form>
        </div>
        <!-- /.col (right) -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>
</html>
