<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
</head>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>

<section class="content-wrapper">
    <div class="container-fluid">
        <div class=" col-md-12 mt-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Available Quizzes</h3>
                    <div class="card-tools">
                        <ul class="pagination pagination-sm float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Quiz</th>
                            <th>Subject</th>
                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:each="quiz, place : ${quizzes}">
                            <tr>
                                <td th:text="${quiz.Id}"></td>
                                <td ><a th:href="@{'/myquiz/' + ${quiz.Id}}" th:text="${quiz.QuizName}"></a></td>
                                <td th:text="${quiz.getSubjectSubjectName()}"></td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>
</html>
