<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>

<style>
    .hov-pointer:hover {cursor: pointer;}
    .hov-img-zoom {
        display: block;
        overflow: hidden;
    }
    .hov-img-zoom img{
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s;
    }
    .hov-img-zoom:hover img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

</head>
<body>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-md-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="card card-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-info">
                                <h3 th:text="${user.FirstName + ' ' + user.LastName}" class="widget-user-username"></h3>
                                <h5 class="widget-user-desc" th:text="${user.login}">Founder & CEO</h5>
                            </div>
                            <div class="widget-user-image hov-img-zoom">
                                <img class="img-circle elevation-2 " th:src="${'data:image/png;base64,' + user.ImageUrl}" alt="User Avatar">
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span class="description-text">User since</span>
                                            <h5 class="description-header" th:text="${#dates.format(user.createdDate, 'dd/MM/yyyy')}"></h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span class="description-text">Logged in times</span>
                                            <h2 class="description-header" th:text="${#lists.size(auditInfo)}"></h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span class="description-text">Previous Login</span>
                                            <h5 th:if="${auditInfo.size() > 1}" class="description-header" th:text="${#dates.format(auditInfo[auditInfo.size()-2].auditEventDate, 'dd/MM/yyyy')}" ></h5>
                                            <h5 th:if="${auditInfo.size() <= 1}" class="description-header">First Login</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <div class="row">
                            <a href="/oqs?page=0&size=5"><div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-gradient-info">
                                    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Quizzes to answer</span>
                                        <span class="info-box-number" th:text="${quizzes.size() - correctAnswers - wrongAnswers}"></span>
                                        <div class="progress">
                                            <div class="progress-bar" th:style="'width:'+@{${((quizzes.size() - correctAnswers - wrongAnswers)*100)/quizzes.size()}}+'%'"></div>
                                        </div>
                                        <span class="progress-description" th:text="${((quizzes.size() - correctAnswers - wrongAnswers)*100)/quizzes.size() + '% of global yet to answer'}"></span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a></div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-gradient-success">
                                    <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Quizzes with <strong>positive</strong> score</span>
                                        <span class="info-box-number" th:text="${correctAnswers}"></span>
                                        <th:block th:if="${allAnswers!=0}">
                                            <div class="progress">
                                                <div class="progress-bar" th:style="'width:'+@{${(correctAnswers*100)/allAnswers}}+'%'"></div>
                                            </div>
                                            <span class="progress-description" th:if="${correctAnswers > 0}" th:text="${(correctAnswers*100)/allAnswers + '% had a positive score'}"></span>
                                            <span class="progress-description" th:if="${correctAnswers == 0}" >no correctly quizzes answered yet!</span>
                                        </th:block>
                                        <th:block th:if="${allAnswers==0}">
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 0%"></div>
                                            </div>
                                            <span class="progress-description" >no quizzes answered yet!</span>
                                        </th:block>

                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-gradient-danger">
                                    <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Quizzes with <strong>negative</strong> score</span>
                                        <span class="info-box-number" th:text="${wrongAnswers}"></span>
                                        <th:block th:if="${allAnswers!=0}">
                                            <div class="progress">
                                                <div class="progress-bar" th:style="'width:'+@{${(wrongAnswers*100)/allAnswers}}+'%'"></div>
                                            </div>
                                            <span class="progress-description" th:if="${wrongAnswers > 0}" th:text="${(wrongAnswers*100)/allAnswers + '% had a negative score'}"></span>
                                            <span class="progress-description" th:if="${wrongAnswers == 0}">no wrongly answered quizzes yet, congrats!</span>
                                        </th:block>
                                        <th:block th:if="${allAnswers==0}">
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 0%"></div>
                                            </div>
                                            <span class="progress-description" th:if="${wrongAnswers == 0}">no quizzes answered yet!</span>
                                        </th:block>

<!--                            30% with negative score-->
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Answered Quizzes By Subject
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row card-body">
                            <div class="col-md-12">
                                <th:block th:each="subject, place : ${allSubjects}">

                                    <th:block th:if="${subjectCounter[place.index] > 0}">
                                        <div th:if="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) == 0 }" class="progress mb-1" style="border-radius:5px">
                                            <div class="progress-bar bg-success progress-bar-striped " role="progressbar"
                                                 style="width:0%; margin-left:20px; color:black !important"
                                                 th:text="${'0% Complete - ' + subject.subjectName}">
                                            </div>
                                        </div>
                                        <div th:if="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) < 50 && ((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) > 0 }" class="progress mb-1" style="border-radius:5px">
                                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                                                 th:style="|width:${((userSubjectCounter[place.index]*100)/subjectCounter[place.index])}%|"
                                                 th:text="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) + '% Complete - ' + subject.subjectName}">
                                            </div>
                                        </div>
                                        <div th:if="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) >= 50 && ((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) < 75 }" class="progress mb-1" style="border-radius:5px">
                                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                                                 th:style="|width:${((userSubjectCounter[place.index]*100)/subjectCounter[place.index])}%|"
                                                 th:text="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) + '% Complete - ' + subject.subjectName}">
                                            </div>
                                        </div>
                                        <div th:if="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) >= 75 }" class="progress mb-1" style="border-radius:5px">
                                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                                                 th:style="|width:${((userSubjectCounter[place.index]*100)/subjectCounter[place.index])}%|"
                                                 th:text="${((userSubjectCounter[place.index]*100)/subjectCounter[place.index]) + '% Complete - ' + subject.subjectName}">
                                            </div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            </div>
    <div>
    </div>
        </section>
    </div>
</div>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>
</html>

