<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/sharedTags/head :: head"></th:block>
</head>
<th:block th:include="views/sharedTags/sidebar :: sidebar"></th:block>
<div class="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class=" col-md-12 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Available Quizzes</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <form method="post" action="/userManager" name="form" id="form">
                        <div class="card-body p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th >Username</th>
                                    <th>Name</th>
                                    <th >Teacher Privileges</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="thisUser, place : ${users}">
                                    <tr >
                                        <td th:text="${thisUser.login}"></td>
                                        <th th:text="${thisUser.firstName + ' ' + thisUser.lastName}"></th>
                                        <td>
                                            <input th:if="${thisUser.login != user.login}" type="checkbox" th:name="${thisUser.login}" th:checked="${thisUser.authorities.contains('ROLE_ADMIN')}" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    <div class="card-footer">
                        <input type="text" hidden="hidden" name="value" value="formToUpdate">
                        <button type="submit" class="btn btn-info float-right">Update User Privileges</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="views/sharedTags/footer :: footer"></th:block>

</html>
