<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-quiz-heading">Create or edit a Quiz</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quizName">Quiz Name</label>
                    <input type="text" class="form-control" name="quizName" id="field_quizName"
                           formControlName="quizName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minGrade">Min Grade</label>
                    <input type="number" class="form-control" name="minGrade" id="field_minGrade"
                           formControlName="minGrade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_avgGrade">Avg Grade</label>
                    <input type="number" class="form-control" name="avgGrade" id="field_avgGrade"
                           formControlName="avgGrade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subject">Subject</label>
                    <select class="form-control" id="field_subject" name="subject" formControlName="subject">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subjectOption.id === editForm.get('subject').value?.id ? editForm.get('subject').value : subjectOption" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.quizName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
