<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quiz">
            <h2><span>Quiz</span> {{quiz.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quiz Name</span></dt>
                <dd>
                    <span>{{quiz.quizName}}</span>
                </dd>
                <dt><span>Min Grade</span></dt>
                <dd>
                    <span>{{quiz.minGrade}}</span>
                </dd>
                <dt><span>Avg Grade</span></dt>
                <dd>
                    <span>{{quiz.avgGrade}}</span>
                </dd>
                <dt><span>Subject</span></dt>
                <dd>
                    <div *ngIf="quiz.subject">
                        <a [routerLink]="['/subject', quiz.subject?.id, 'view']">{{quiz.subject?.quizName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz', quiz.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
