
<div class="login-page">
    <div class="form">
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please fill all fields.
            </div>
            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
            <div class="ml-0" style="text-align:left">
                <label for="username" >Username</label>
            </div>
            <input type="text" placeholder="username" name="login" id="login" formControlName="login"/>
            <div class="ml-0" style="text-align:left">
                <label for="email">Email</label>
            </div>
            <input type="email"  id="email" name="email" placeholder="Your email" formControlName="email">
            <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"> Your email is required. </small>
                <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"> Your email is invalid.</small>
                <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength">Your email is required to be at least 5 characters.</small>
                <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength">Your email cannot be longer than 100 characters.</small>
            </div>
            <div class="ml-0" style="text-align:left">
                <label for="email">Password</label>
            </div>
            <input type="password" placeholder="password" name="password" id="password" formControlName="password"/>
            <div class="ml-0" style="text-align:left">
                <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required">Your password is required.</small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength">Your password is required to be at least 4 characters.</small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength">Your password cannot be longer than 50 characters.</small>
                </div>
                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
            </div>
            <div class="ml-0" style="text-align:left">
                <label  for="confirmPassword">New password confirmation</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                       formControlName="confirmPassword">
                <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required">Your confirmation password is required.</small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength">Your confirmation password is required to be at least 4 characters.</small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength">Your confirmation password cannot be longer than 50 characters.</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="message">Already registered? <a (click)="openLogin()">Sign In</a></p>
        </form>
    </div>
</div>
