<div>
    <h2 id="page-heading">
        <span>User Quizzes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-quizz" [routerLink]="['/user-quizz/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new User Quizz
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userQuizzes?.length === 0">
        <span>No userQuizzes found</span>
    </div>
    <div class="table-responsive" *ngIf="userQuizzes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Grade</span></th>
            <th scope="col" ><span>User</span></th>
            <th scope="col" ><span>Quiz</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userQuizz of userQuizzes ;trackBy: trackId">
                <td><a [routerLink]="['/user-quizz', userQuizz.id, 'view' ]">{{userQuizz.id}}</a></td>
                <td>{{userQuizz.grade}}</td>
                <td>
                    {{userQuizz.user?.id}}
                </td>
                <td>
                    <div *ngIf="userQuizz.quiz">
                        <a [routerLink]="['/quiz', userQuizz.quiz?.id, 'view' ]" >{{userQuizz.quiz?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-quizz', userQuizz.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-quizz', userQuizz.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-quizz', { outlets: { popup: userQuizz.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
