<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userQuizz">
            <h2><span>User Quizz</span> {{userQuizz.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Grade</span></dt>
                <dd>
                    <span>{{userQuizz.grade}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userQuizz.user?.id}}
                </dd>
                <dt><span>Quiz</span></dt>
                <dd>
                    <div *ngIf="userQuizz.quiz">
                        <a [routerLink]="['/quiz', userQuizz.quiz?.id, 'view']">{{userQuizz.quiz?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-quizz', userQuizz.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
