<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span>Question</span> {{question.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Question Title</span></dt>
                <dd>
                    <span>{{question.questionTitle}}</span>
                </dd>
                <dt><span>Question Description</span></dt>
                <dd>
                    <span>{{question.questionDescription}}</span>
                </dd>
                <dt><span>Quiz</span></dt>
                <dd>
                    <div *ngIf="question.quiz">
                        <a [routerLink]="['/quiz', question.quiz?.id, 'view']">{{question.quiz?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
